.button {
    position: relative;
    right: -40px;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
}

.block {
    display: block;
    width: 100%;
    float: left;
    transition: width .2s;
}

@media (min-width:1025px)
{
    .block {
        width: 33.333%;;
    }
}

@media (min-width:768px) and (max-width:1024px)
{
    .block {
        width: 50%;
    }
}

@media (max-width:767px)
{
    .block {
        width: 100%;
    }
}

.product {
    display: block;
    border: 1px solid #b5e9a7;
    border-radius: 3px;
    position: relative;
    background: #fff;
    margin: 0 20px 20px 0;
    text-decoration: none;
    color: #474747;
    z-index: 0;
    height: 300px;
}

.heading {
    position: relative;
    right: -40px;
    padding-top: 10px;
    font-size: 50px;
    font-family: "Lucida Console";
    color: #0b141b;
}
